<div class="form-container" style="background-color: #40e0d0;">
  <h1>{{ title }}</h1>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

    <div class="field-container">
      <div class="field">
        <label>Username</label>
        <input class="input-box" formControlName="username" placeholder="Enter username">
      </div>
      @if (registrationForm.get('username')?.invalid && registrationForm.get('username')?.touched) {
        <small class="error-text">Username must be 8-16 characters.</small>
      }
    </div>

    <div class="field-container">
      <div class="field">
        <label>Email</label>
        <input class="input-box" type="email" formControlName="email" placeholder="Enter email">
      </div>
      @if (registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched) {
        <small class="error-text">Enter a valid email.</small>
      }
    </div>

    <div class="field-container">
      <div class="field">
        <label>Password</label>
        <input class="input-box" type="password" formControlName="password" placeholder="Enter password">
      </div>
      @if (registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched) {
        <small class="error-text">8+ characters with Upper, Lower, and Number.</small>
      }
    </div>

    <div class="field">
      <label>Gender</label>
      <div class="radio-group">
        <label><input type="radio" formControlName="gender" value="Male"> Male</label>
        <label><input type="radio" formControlName="gender" value="Female"> Female</label>
      </div>
    </div>

    <div class="field">
      <label>Status</label>
      <select class="input-box" formControlName="status">
        <option value="" disabled>Select status</option>
        <option value="Permanent">Permanent</option>
        <option value="Probationary">Probationary</option>
      </select>
    </div>

     <div class="field">
      <label>Position</label>
      <select class="input-box" formControlName="position">
        <option value="" disabled selected>Select position</option>
        <option value="Admin">Admin</option>
        <option value="User">User</option>
      </select>
    </div>

    <div class="field">
      <label>Comments</label>
      <textarea class="input-box" formControlName="comments" placeholder="Notes" rows="2"></textarea>
    </div>

    <div class="btn-container">
      <button class="btn" type="submit" [disabled]="!registrationForm.valid">Submit</button>
    </div>
  </form>

  @if (submitted) {
    <div class="result-box">
      <h3>Submission Result:</h3>
      <p><strong>Username:</strong> {{ formData.username }}</p>
      <p><strong>Email:</strong> {{ formData.email }}</p>
      <p><strong>Gender:</strong> {{ formData.gender }}</p>
      <p><strong>Status:</strong> {{ formData.status }}</p>
      <p><strong>Comments:</strong> {{ formData.comments }}</p>
    </div>
  }
</div>


