<nav style="text-align: center; margin-bottom: 20px; font-family: 'Inter', sans-serif;">
  <a routerLink="/template" routerLinkActive="active" style="margin: 0 15px; font-weight: 900; text-decoration: none; color: black;">TEMPLATE FORM</a>
  <a routerLink="/reactive" routerLinkActive="active" style="margin: 0 15px; font-weight: 900; text-decoration: none; color: black;">REACTIVE FORM</a>
  <a routerLink="/custom" routerLinkActive="active" style="margin: 0 15px; font-weight: 900; text-decoration: none; color: black;">CUSTOM FORM</a>
</nav>

<main>
  <router-outlet></router-outlet>
</main>
