/* src/styles.css */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: #000000; /* Primary Black Background */
  color: #E2E8F0; /* Light text for contrast */
}

* {
  box-sizing: border-box;
}
